body {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.header-container {
  width: 100%;
  height: 85px;
  margin: 0 auto;
  text-align: center;
}

.tittle {
  font-size: 35px;
  margin: 20px auto;
}

.tittle a {
  text-decoration: none;
  transition: 0.5s;
  color: black;
}

.tittle a:hover {
  opacity: 0.7;
}

.user {
  font-weight: bold;
  font-size: 12px;
  float: left;
}

nav {
 display: inline-block;
}

nav .menu {
  display: flex;
  font-size: 13px;
  margin: 0 auto;
  padding: 0;
}

nav .menu li {
  list-style: none;
  margin: 0 20px;
}

nav .menu li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: black;
}

nav .menu .menu-list a::after {
  position: absolute; /* aタグを絶対位置に指定 */
  bottom: -4px; /* aタグの下部から4px下に設定 */
  left: 0; /* 左詰めに設定 */
  content: ''; /* 追加したい文言があれば''ないに入力 */
  width: 100%; /* 下線の表示幅 */
  height: 1px; /* 下線の太さ */
  background: black;
  transform: scale(0, 1); /* 表示する範囲？幅？の指定。(x軸, y軸) */ 
  transform-origin: left; /* 開始位置の指定。この場合はx軸の左端から開始するようにしている。x y zの指定ができる。 */
  transition: .5s; /* 効果のアニメーション時間 */
}

nav .menu .menu-list a:hover::after {
  transform: scale(1, 1);
}

hr {
  margin-top: 25px;
  width: 100%;
  background-color: #BBBBBB;
  height: 1px;
  border: none;
}