.login-container {
  width: 400px;
  margin: 0 auto;
}

.login-container h1 {
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: normal;
  margin: 30px 0 30px;
}

.login-container hr {
  width: 400px;
}

.loginForm {
  text-align: left;
}

.loginForm p {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
}

.loginForm .text-box {
  padding: 3px 5px;
  width: 386px;
  border: 1px solid #ccc;
}

.loginForm .login-btn {
  display: inline-block;
  margin: 40px 0 10px;
  padding: 8px;
  background-color: #808080;
  color: white;
  width: 400px;
  font-size: 12px;
  box-shadow: none;
  border: none;
  transition: 0.3s;
}

.loginForm .login-btn:hover {
  opacity: 0.7;
}

.other {
  text-align: right;
  font-size: 0;
  margin-bottom: 20px;
}

.other li {
  list-style: none;
}

.other li a {
  font-size: 10px;
  color: black;
}

.other li a:hover {
  text-decoration: none;
}

.other li a span {
  margin-left: 5px;
}

.regist-text {
  font-size: 12px;
  margin-top: 40px;
}

.regist-btn {
  width: 400px;
  display: block;
  border: 1px solid #ccc;
  padding: 8px 0 8px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  transition: 0.3s
}

.regist-btn:hover {
  background-color: #EEE;
}